<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Idea Box 2.0</title>
  <body background="http://215marketinghouse.com/wp-content/uploads/2015/05/Simple-Grey-Background.jpg">
</head>

<body>
  <h3 class="center">Save all of yor mediocre ideas!!</h3>

  <div class="container">
    <div class="row">
      <form class="col s12 offset-s1">
        <h5>Make a new idea</h5>
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">star_rate</i>
            <label for="icon_prefix">Title</label>
            <input class="form-control" id="idea-title" type="text" class="validate">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">comment</i>
            <label for="star_rate">Body</label>
            <textarea id="idea-body" class="materialize-textarea" length="120"></textarea>
            <a class="btn-floating btn-large waves-effect waves-light red" id="create-idea" value="Create Idea"><i class="material-icons">add</i></a>
          </div>
        </div>
      </form>
    </div>
  </div>



  <h3>Your Ideas</h3>
  <div class="allIdeas">
  </div>



  <!-- <link rel="stylesheet" href="assets/stylesheets/ideas.css" type="text/css" media="screen" title="no title" charset="utf-8"> -->
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="assets/javascripts/ideas.js"></script>

</body>
</html>
