<div class='container dont-show'>
  <div class='row'>
    <form>
      <h5>Make changes here</h5>
      <div class='row'>
        <div class='input-field col s5'>
          <i class='material-icons prefix'>star_rate</i>
          <label for='icon_prefix'>Title</label>
          <input class='form-control' id='edit-title' type='text' class='validate'>
        </div>
      </div>
      <div class='row'>
        <div class='input-field col s5'>
          <i class='material-icons prefix'>comment</i>
          <label for='star_rate'>Body</label>
          <textarea id='edit-body' class='materialize-textarea' length='120'></textarea>
          <a class='btn-floating btn-large waves-effect waves-light green' id='save-changes' value='Save Changes'><i class='material-icons'>done</i></a>
        </div>
      </div>
    </form>
  </div>
</div>
